@model IEnumerable<Webapp.Models.Employee> 
@{ 
    ViewData["Title"] = "Employés"; 
} 
<h2 class="text-center">Gérer les employés</h2> 
@if (TempData["DeleteMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["DeleteMessage"]
    </div>
}
@if (TempData["EditMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["EditMessage"]
    </div>
}
<form method="post" asp-action="Employer" class="mb-3">
    <div class="container mt-5">
    <div class="card shadow-lg p-4">
    <div class="text-end"> 
    <a asp-action="AjouterEmployer" class="btn btn-success"><i class="fas fa-plus"></i> Ajouter </a>
    </div> 
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Post</th>
                <th>Actions</th>
              
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var employe in Model)
                {
                    <tr>
                    <td>@employe.Nom</td>
                    <td>@employe.Prenom</td>
                    <td>@employe.Email</td>
                    <td>@employe.Telephone</td>
                    <td>@employe.Poste</td> 
                    
            <td> 
               <a class="btn btn-light btn-sm" asp-action="EditEmployer" asp-route-id="@employe.Id"><i class="fas fa-edit"></i>Modifier</a> 
                <a class="btn btn-light btn-sm" asp-action="DeleteEm" asp-route-id="@employe.Id" onclick="return confirm('Êtes-vous sûr de vouloir Supprimer cet employe?')"><i class="fas fa-trash"></i> Supprimer</a>
                <a asp-action="DetailsEmployer" asp-route-id="@employe.Id" class="btn btn-light btn-sm"><i class="fas fa-info-circle"></i> Détails</a>
            </td> 

                </tr>
                }
            }
            else
            {
                <tr><td colspan="6" class="text-center">Aucun employé disponible.</td></tr>
            } 
        </tbody>
    </table> 
    <a asp-action="index" class="btn btn-success"><i class="fas fa-arrow-left"></i> Retour </a>
</form>
</div> 
</div>